<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rogatkin.mobile.app.homesafe"
    android:versionCode="9"
    android:versionName="1.09" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_homesafe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rogatkin.mobile.app.homesafe.HomeSafeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CheckLocReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".LocationChkrSrv"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:label="Check location service">
        </service>

        <service android:name=".TrackerSrv"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:label="Trigger the check location service">
        </service>

    </application>

</manifest>